html, body{
	height: 100%;
	overflow: hidden;
}

.messages{
	overflow: auto;
}

.private{
	background-color: #d9edf7!important;
}

.bubble{
	position:relative;
	background-color:#eee;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.bubble-left{
	margin-right:50px;
}
.bubble-right{
	margin-left:50px;
}

.bubble:before{
	content:'';
	position:absolute;
	width:0;
	height:0;
}

.bubble.bubble-left:before{
	top:10%;
	right:100%;
	border-bottom:10px solid transparent;
	border-right: 20px solid #eee;
	border-top:10px solid transparent;
}

.bubble.bubble-right:before{
	top:10%;
	left:100%;
	border-bottom:10px solid transparent;
	border-left: 20px solid #eee;
	border-top:10px solid transparent;
}

.private.bubble.bubble-left:before{
	border-right: 20px solid #d9edf7;
}

.private.bubble.bubble-right:before{
	border-left: 20px solid #d9edf7;
}

.blink-cursor.enabled:after {
    -webkit-animation: cursor-blink 0.8s linear infinite;
    -moz-animation: cursor-blink 0.8s linear infinite;
    -o-animation: cursor-blink 0.8s linear infinite;
    animation: cursor-blink 0.8s linear infinite;
    content: "|";
    padding-left: 1px;
}

.line-input{
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 50%;
  text-align: center;
}

.time-span{
  padding-left: 10px;
  padding-right: 10px;
}

@-moz-keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}