<div class="messages list-group ng-cloak" auto-scroll-to-bottom msd-wheel="onMousewheel($delta, $event.target.scrollTop)">
	<div class="list-group-item" ng-if="base.fetching">
		<i class="fa fa-spin fa-spinner"></i> <span type-me data-text="fetching messages..."></span>
	</div>
	<div class="list-group-item" ng-if="base.fetchEnd">
		<i class="fa fa-close"></i> <span type-me data-text="no more messages"></span>
	</div>
	<div class="list-group-item text-center hidden-md hidden-lg" ng-if="base.canFetch && !base.fetching" ng-click="fetchMore()">
		<i class="fa fa-"></i> load more chat history
	</div>
	<div style="min-height:10px" class="hidden-md hidden-lg" ng-if="base.canFetch && !base.fetching"></div>
	<div style="min-height:10px" ng-if="base.fetchEnd || base.fetching"></div>
	<div class="list-group-item bubble bubble-left">
		<p>
			<span class="label label-default">
				SYSTEM
			</span>
		</p>
		<pre type-me data-text="{{help}}"></pre>
	</div>
	<div class="clearfix"></div>
	<div class="list-group-item bubble" ng-repeat-start="message in base.messages track by $index"
		ng-class="{'bubble-left text-left': message.from.id != base.me.id, 
			'bubble-right text-right pull-right': message.from.id == base.me.id, 
			'private': message.to && (message.to.id == base.me.id || message.from.id == base.me.id)}"
	>
		<p>
			<span class="label label-default" ng-class="{'pull-right': message.from.id == base.me.id}" ng-click="sendTo(message.from)">
				{{message.from.name}}
				<span ng-if="message.to.id == base.me.id"> says privately</span>
			</span>
			<acronym class="time-span" ng-if="!base.showTime && message.createAt" am-time-ago="message.createAt" title="{{message.createAt}}"></acronym>
			<span ng-if="message.ts">
				<i class="fa fa-spin fa-spinner"></i>
			</span>
		</p>
		<pre x-convert-emoji>{{ message.content }}</pre>
		<span class="scroll-to-me" ng-if="message.scroll"></span>
	</div>
	<div class="clearfix" ng-repeat-end></div>
</div>
//minimalism